In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("Auto Sales data.csv")

In [5]:
data.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,DAYS_SINCE_LASTORDER,MSRP
count,2747.000000,2747.000000,2747.000000,2747.000000,2747.000000,2747.000000,2747.000000
mean,10259.761558,35.103021,101.098952,6.491081,3553.047583,1757.085912,100.691664
std,91.877521,9.762135,42.042549,4.230544,1838.953901,819.280576,40.114802
min,10100.000000,6.000000,26.880000,1.000000,482.130000,42.000000,33.000000
25%,10181.000000,27.000000,68.745000,3.000000,2204.350000,1077.000000,68.000000
50%,10264.000000,35.000000,95.550000,6.000000,3184.800000,1761.000000,99.000000
75%,10334.500000,43.000000,127.100000,9.000000,4503.095000,2436.500000,124.000000
max,10425.000000,97.000000,252.870000,18.000000,14082.800000,3562.000000,214.000000

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747 entries, 0 to 2746
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORDERNUMBER           2747 non-null   int64
 1   QUANTITYORDERED       2747 non-null   int64
 2   PRICEEACH             2747 non-null   float64
 3   ORDERLINENUMBER       2747 non-null   int64
 4   SALES                 2747 non-null   float64
 5   ORDERDATE             2747 non-null   object
 6   DAYS_SINCE_LASTORDER  2747 non-null   int64
 7   STATUS                2747 non-null   object
 8   PRODUCTLINE           2747 non-null   object
 9   MSRP                  2747 non-null   int64
 10  PRODUCTCODE           2747 non-null   object
 11  CUSTOMERNAME          2747 non-null   object
 12  PHONE                 2747 non-null   object
 13  ADDRESSLINE1          2747 non-null   object
 14  CITY                  2747 non-null   object
 15  POSTALCODE            2747 non-null   object
 16  COUNTRY               2747 non-null   object
 17  CONTACTLASTNAME       2747 non-null   object
 18  CONTACTFIRSTNAME      2747 non-null   object
 19  DEALSIZE              2747 non-null   object
dtypes: float64(2), int64(5), object(13)
memory usage: 429.3+ KB
None

In [9]:
print(data.isnull().sum()) #column wise null value checking

ORDERNUMBER             0
QUANTITYORDERED         0
PRICEEACH               0
ORDERLINENUMBER         0
SALES                   0
ORDERDATE               0
DAYS_SINCE_LASTORDER    0
STATUS                  0
PRODUCTLINE             0
MSRP                    0
PRODUCTCODE             0
CUSTOMERNAME            0
PHONE                   0
ADDRESSLINE1            0
CITY                    0
POSTALCODE              0
COUNTRY                 0
CONTACTLASTNAME         0
CONTACTFIRSTNAME        0
DEALSIZE                0
dtype: int64

In [11]:
print(data.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
2742    False
2743    False
2744    False
2745    False
2746    False
Length: 2747, dtype: bool

In [13]:
data.columns = data.columns.str.strip().str.lower().str.replace(' ', '_') # column headers to be clean and uniform

In [15]:
print(data.head(3))

   ordernumber  quantityordered  priceeach  orderlinenumber    sales  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34

    orderdate  days_since_lastorder   status  productline  msrp productcode  \
0  24/02/2018                   828  Shipped  Motorcycles    95    S10_1678
1  07/05/2018                   757  Shipped  Motorcycles    95    S10_1678
2  01/07/2018                   703  Shipped  Motorcycles    95    S10_1678

         customername             phone                   addressline1   city  \
0   Land of Toys Inc.        2125557818        897 Long Airport Avenue    NYC
1  Reims Collectables        26.47.1555             59 rue de l'Abbaye  Reims
2     Lyon Souveniers  +33 1 46 62 7555  27 rue du Colonel Pierre Avia  Paris

  postalcode country contactlastname contactfirstname dealsize
0      10022     USA              Yu             Kwai    Small
1      51100  France         Henriot             Paul    Small
2      75508  France        Da Cunha           Daniel   Medium

In [17]:
data['phone'] = pd.to_numeric(data['phone'], errors='coerce').astype('Int64')

In [19]:
print(data['phone'])

0       2125557818
1             <NA>
2             <NA>
3       6265557265
4       6505556809
           ...
2742          <NA>
2743          <NA>
2744          <NA>
2745          <NA>
2746    6175559555
Name: phone, Length: 2747, dtype: Int64

In [21]:
print(data.isnull().sum()) #to check null values

ordernumber                0
quantityordered            0
priceeach                  0
orderlinenumber            0
sales                      0
orderdate                  0
days_since_lastorder       0
status                     0
productline                0
msrp                       0
productcode                0
customername               0
phone                   1819
addressline1               0
city                       0
postalcode                 0
country                    0
contactlastname            0
contactfirstname           0
dealsize                   0
dtype: int64

In [23]:
print(data.dropna()) #removes null values

      ordernumber  quantityordered  priceeach  orderlinenumber    sales  \
0           10107               30      95.70                2  2871.00
3           10145               45      83.26                6  3746.70
4           10168               36      96.66                1  3479.76
9           10237               23     101.44                7  2333.12
10          10251               28     113.88                2  3188.64
...           ...              ...        ...              ...      ...
2728        10185               28      64.43                6  1804.04
2731        10222               36      63.34               18  2280.24
2733        10248               23      65.52                9  1506.96
2741        10337               42      97.16                5  4080.72
2746        10414               47      65.52                9  3079.44

       orderdate  days_since_lastorder     status  productline  msrp  \
0     24/02/2018                   828    Shipped  Motorcycles    95
3     25/08/2018                   649    Shipped  Motorcycles    95
4     28/10/2018                   586    Shipped  Motorcycles    95
9     05/04/2019                   432    Shipped  Motorcycles    95
10    18/05/2019                   390    Shipped  Motorcycles    95
...          ...                   ...        ...          ...   ...
2728  14/11/2018                  3293    Shipped        Ships    54
2731  19/02/2019                  3199    Shipped        Ships    54
2733  07/05/2019                  3124  Cancelled        Ships    54
2741  21/11/2019                  2934    Shipped        Ships    54
2746  06/05/2020                  2772    On Hold        Ships    54

     productcode                  customername       phone  \
0       S10_1678             Land of Toys Inc.  2125557818
3       S10_1678             Toys4GrownUps.com  6265557265
4       S10_1678          Technics Stores Inc.  6505556809
9       S10_1678               Vitachrome Inc.  2125551500
10      S10_1678       Tekni Collectables Inc.  2015559350
...          ...                           ...         ...
2728    S72_3212           Mini Creations Ltd.  5085559555
2731    S72_3212  Collectable Mini Designs Co.  7605558146
2733    S72_3212             Land of Toys Inc.  2125557818
2741    S72_3212          Classic Legends Inc.  2125558493
2746    S72_3212             Gifts4AllAges.com  6175559555

                 addressline1         city postalcode country contactlastname  \
0     897 Long Airport Avenue          NYC      10022     USA              Yu
3          78934 Hillside Dr.     Pasadena      90003     USA           Young
4           9408 Furth Circle   Burlingame      94217     USA          Hirano
9           2678 Kingston Rd.          NYC      10022     USA           Frick
10              7476 Moss Rd.       Newark      94019     USA           Brown
...                       ...          ...        ...     ...             ...
2728        4575 Hillside Dr.  New Bedford      50553     USA             Tam
2731         361 Furth Circle    San Diego      91217     USA        Thompson
2733  897 Long Airport Avenue          NYC      10022     USA              Yu
2741         5905 Pompton St.          NYC      10022     USA       Hernandez
2746       8616 Spinnaker Dr.       Boston      51003     USA         Yoshido

     contactfirstname dealsize
0                Kwai    Small
3               Julie   Medium
4                Juri   Medium
9             Michael    Small
10            William   Medium
...               ...      ...
2728           Wing C    Small
2731          Valarie    Small
2733             Kwai    Small
2741            Maria   Medium
2746             Juri   Medium

[928 rows x 20 columns]

In [25]:
data['orderdate'] = pd.to_datetime(data['orderdate'], errors='coerce')  # Converts to datetime
#data['orderdate'] = data['orderdate'].dt.strftime('%d-%m-%Y') #Format as dd-mm-yyyy {commenting out as it converting dtype=object}

C:\Users\sweety Gain\AppData\Local\Temp\ipykernel_18316\1342334542.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['orderdate'] = pd.to_datetime(data['orderdate'], errors='coerce')  # Converts to datetime

In [27]:
print(data['orderdate'])

0      2018-02-24
1      2018-05-07
2      2018-07-01
3      2018-08-25
4      2018-10-28
          ...
2742   2019-12-02
2743   2020-01-31
2744   2020-03-01
2745   2020-03-28
2746   2020-05-06
Name: orderdate, Length: 2747, dtype: datetime64[ns]

In [29]:
data.to_csv("cleaned_data.csv", index=False)

In [31]:
print(data)

      ordernumber  quantityordered  priceeach  orderlinenumber    sales  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10168               36      96.66                1  3479.76
...           ...              ...        ...              ...      ...
2742        10350               20     112.22               15  2244.40
2743        10373               29     137.19                1  3978.51
2744        10386               43     125.99                4  5417.57
2745        10397               34      62.24                1  2116.16
2746        10414               47      65.52                9  3079.44

      orderdate  days_since_lastorder    status  productline  msrp  \
0    2018-02-24                   828   Shipped  Motorcycles    95
1    2018-05-07                   757   Shipped  Motorcycles    95
2    2018-07-01                   703   Shipped  Motorcycles    95
3    2018-08-25                   649   Shipped  Motorcycles    95
4    2018-10-28                   586   Shipped  Motorcycles    95
...         ...                   ...       ...          ...   ...
2742 2019-12-02                  2924   Shipped        Ships    54
2743 2020-01-31                  2865   Shipped        Ships    54
2744 2020-03-01                  2836  Resolved        Ships    54
2745 2020-03-28                  2810   Shipped        Ships    54
2746 2020-05-06                  2772   On Hold        Ships    54

     productcode             customername       phone  \
0       S10_1678        Land of Toys Inc.  2125557818
1       S10_1678       Reims Collectables        <NA>
2       S10_1678          Lyon Souveniers        <NA>
3       S10_1678        Toys4GrownUps.com  6265557265
4       S10_1678     Technics Stores Inc.  6505556809
...          ...                      ...         ...
2742    S72_3212    Euro Shopping Channel        <NA>
2743    S72_3212  Oulu Toy Supplies, Inc.        <NA>
2744    S72_3212    Euro Shopping Channel        <NA>
2745    S72_3212             Alpha Cognac        <NA>
2746    S72_3212        Gifts4AllAges.com  6175559555

                       addressline1        city postalcode  country  \
0           897 Long Airport Avenue         NYC      10022      USA
1                59 rue de l'Abbaye       Reims      51100   France
2     27 rue du Colonel Pierre Avia       Paris      75508   France
3                78934 Hillside Dr.    Pasadena      90003      USA
4                 9408 Furth Circle  Burlingame      94217      USA
...                             ...         ...        ...      ...
2742             C/ Moralzarzal, 86      Madrid      28034    Spain
2743                    Torikatu 38        Oulu      90110  Finland
2744             C/ Moralzarzal, 86      Madrid      28034    Spain
2745          1 rue Alsace-Lorraine    Toulouse      31000   France
2746             8616 Spinnaker Dr.      Boston      51003      USA

     contactlastname contactfirstname dealsize
0                 Yu             Kwai    Small
1            Henriot             Paul    Small
2           Da Cunha           Daniel   Medium
3              Young            Julie   Medium
4             Hirano             Juri   Medium
...              ...              ...      ...
2742          Freyre            Diego    Small
2743       Koskitalo           Pirkko   Medium
2744          Freyre            Diego   Medium
2745          Roulet          Annette    Small
2746         Yoshido             Juri   Medium

[2747 rows x 20 columns]

In [33]:
df = pd.read_csv("cleaned_data.csv")

In [35]:
df

,ordernumber,quantityordered,priceeach,orderlinenumber,sales,orderdate,days_since_lastorder,status,productline,msrp,productcode,customername,phone,addressline1,city,postalcode,country,contactlastname,contactfirstname,dealsize
0,10107,30,95.70,2,2871.00,2018-02-24,828,Shipped,Motorcycles,95,S10_1678,Land of Toys Inc.,2.125558e+09,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,2018-05-07,757,Shipped,Motorcycles,95,S10_1678,Reims Collectables,NaN,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,2018-07-01,703,Shipped,Motorcycles,95,S10_1678,Lyon Souveniers,NaN,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,2018-08-25,649,Shipped,Motorcycles,95,S10_1678,Toys4GrownUps.com,6.265557e+09,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium
4,10168,36,96.66,1,3479.76,2018-10-28,586,Shipped,Motorcycles,95,S10_1678,Technics Stores Inc.,6.505557e+09,9408 Furth Circle,Burlingame,94217,USA,Hirano,Juri,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2742,10350,20,112.22,15,2244.40,2019-12-02,2924,Shipped,Ships,54,S72_3212,Euro Shopping Channel,NaN,"C/ Moralzarzal, 86",Madrid,28034,Spain,Freyre,Diego,Small
2743,10373,29,137.19,1,3978.51,2020-01-31,2865,Shipped,Ships,54,S72_3212,"Oulu Toy Supplies, Inc.",NaN,Torikatu 38,Oulu,90110,Finland,Koskitalo,Pirkko,Medium
2744,10386,43,125.99,4,5417.57,2020-03-01,2836,Resolved,Ships,54,S72_3212,Euro Shopping Channel,NaN,"C/ Moralzarzal, 86",Madrid,28034,Spain,Freyre,Diego,Medium
2745,10397,34,62.24,1,2116.16,2020-03-28,2810,Shipped,Ships,54,S72_3212,Alpha Cognac,NaN,1 rue Alsace-Lorraine,Toulouse,31000,France,Roulet,Annette,Small
2746,10414,47,65.52,9,3079.44,2020-05-06,2772,On Hold,Ships,54,S72_3212,Gifts4AllAges.com,6.175560e+09,8616 Spinnaker Dr.,Boston,51003,USA,Yoshido,Juri,Medium