In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("Auto Sales data.csv")

In [10]:
data.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,DAYS_SINCE_LASTORDER,MSRP
count,2747.000000,2747.000000,2747.000000,2747.000000,2747.000000,2747.000000,2747.000000
mean,10259.761558,35.103021,101.098952,6.491081,3553.047583,1757.085912,100.691664
std,91.877521,9.762135,42.042549,4.230544,1838.953901,819.280576,40.114802
min,10100.000000,6.000000,26.880000,1.000000,482.130000,42.000000,33.000000
25%,10181.000000,27.000000,68.745000,3.000000,2204.350000,1077.000000,68.000000
50%,10264.000000,35.000000,95.550000,6.000000,3184.800000,1761.000000,99.000000
75%,10334.500000,43.000000,127.100000,9.000000,4503.095000,2436.500000,124.000000
max,10425.000000,97.000000,252.870000,18.000000,14082.800000,3562.000000,214.000000

In [14]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747 entries, 0 to 2746
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORDERNUMBER           2747 non-null   int64
 1   QUANTITYORDERED       2747 non-null   int64
 2   PRICEEACH             2747 non-null   float64
 3   ORDERLINENUMBER       2747 non-null   int64
 4   SALES                 2747 non-null   float64
 5   ORDERDATE             2747 non-null   object
 6   DAYS_SINCE_LASTORDER  2747 non-null   int64
 7   STATUS                2747 non-null   object
 8   PRODUCTLINE           2747 non-null   object
 9   MSRP                  2747 non-null   int64
 10  PRODUCTCODE           2747 non-null   object
 11  CUSTOMERNAME          2747 non-null   object
 12  PHONE                 2747 non-null   object
 13  ADDRESSLINE1          2747 non-null   object
 14  CITY                  2747 non-null   object
 15  POSTALCODE            2747 non-null   object
 16  COUNTRY               2747 non-null   object
 17  CONTACTLASTNAME       2747 non-null   object
 18  CONTACTFIRSTNAME      2747 non-null   object
 19  DEALSIZE              2747 non-null   object
dtypes: float64(2), int64(5), object(13)
memory usage: 429.3+ KB
None

In [16]:
print(data.isnull().sum()) #column wise null value checking

ORDERNUMBER             0
QUANTITYORDERED         0
PRICEEACH               0
ORDERLINENUMBER         0
SALES                   0
ORDERDATE               0
DAYS_SINCE_LASTORDER    0
STATUS                  0
PRODUCTLINE             0
MSRP                    0
PRODUCTCODE             0
CUSTOMERNAME            0
PHONE                   0
ADDRESSLINE1            0
CITY                    0
POSTALCODE              0
COUNTRY                 0
CONTACTLASTNAME         0
CONTACTFIRSTNAME        0
DEALSIZE                0
dtype: int64

In [18]:
print(data.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
2742    False
2743    False
2744    False
2745    False
2746    False
Length: 2747, dtype: bool

In [22]:
data.columns = data.columns.str.strip().str.lower().str.replace(' ', '_') # column headers to be clean and uniform

In [26]:
print(data.head(3))

   ordernumber  quantityordered  priceeach  orderlinenumber    sales  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34

    orderdate  days_since_lastorder   status  productline  msrp productcode  \
0  24/02/2018                   828  Shipped  Motorcycles    95    S10_1678
1  07/05/2018                   757  Shipped  Motorcycles    95    S10_1678
2  01/07/2018                   703  Shipped  Motorcycles    95    S10_1678

         customername             phone                   addressline1   city  \
0   Land of Toys Inc.        2125557818        897 Long Airport Avenue    NYC
1  Reims Collectables        26.47.1555             59 rue de l'Abbaye  Reims
2     Lyon Souveniers  +33 1 46 62 7555  27 rue du Colonel Pierre Avia  Paris

  postalcode country contactlastname contactfirstname dealsize
0      10022     USA              Yu             Kwai    Small
1      51100  France         Henriot             Paul    Small
2      75508  France        Da Cunha           Daniel   Medium

In [33]:
data['phone'] = pd.to_numeric(data['phone'], errors='coerce').astype('Int64')

In [35]:
print(data['phone'])

0       2125557818
1             <NA>
2             <NA>
3       6265557265
4       6505556809
           ...
2742          <NA>
2743          <NA>
2744          <NA>
2745          <NA>
2746    6175559555
Name: phone, Length: 2747, dtype: Int64

In [37]:
print(data.isnull().sum()) #to check null values

ordernumber                0
quantityordered            0
priceeach                  0
orderlinenumber            0
sales                      0
orderdate                  0
days_since_lastorder       0
status                     0
productline                0
msrp                       0
productcode                0
customername               0
phone                   1819
addressline1               0
city                       0
postalcode                 0
country                    0
contactlastname            0
contactfirstname           0
dealsize                   0
dtype: int64

In [73]:
print(data.dropna()) #removes null values

      ordernumber  quantityordered  priceeach  orderlinenumber    sales  \
0           10107               30      95.70                2  2871.00
3           10145               45      83.26                6  3746.70
4           10168               36      96.66                1  3479.76
9           10237               23     101.44                7  2333.12
10          10251               28     113.88                2  3188.64
...           ...              ...        ...              ...      ...
2728        10185               28      64.43                6  1804.04
2731        10222               36      63.34               18  2280.24
2733        10248               23      65.52                9  1506.96
2741        10337               42      97.16                5  4080.72
2746        10414               47      65.52                9  3079.44

      orderdate  days_since_lastorder     status  productline  msrp  ...  \
0    2018-02-24                   828    Shipped  Motorcycles    95  ...
3    2018-08-25                   649    Shipped  Motorcycles    95  ...
4    2018-10-28                   586    Shipped  Motorcycles    95  ...
9    2019-04-05                   432    Shipped  Motorcycles    95  ...
10   2019-05-18                   390    Shipped  Motorcycles    95  ...
...         ...                   ...        ...          ...   ...  ...
2728 2018-11-14                  3293    Shipped        Ships    54  ...
2731 2019-02-19                  3199    Shipped        Ships    54  ...
2733 2019-05-07                  3124  Cancelled        Ships    54  ...
2741 2019-11-21                  2934    Shipped        Ships    54  ...
2746 2020-05-06                  2772    On Hold        Ships    54  ...

                      customername       phone             addressline1  \
0                Land of Toys Inc.  2125557818  897 Long Airport Avenue
3                Toys4GrownUps.com  6265557265       78934 Hillside Dr.
4             Technics Stores Inc.  6505556809        9408 Furth Circle
9                  Vitachrome Inc.  2125551500        2678 Kingston Rd.
10         Tekni Collectables Inc.  2015559350            7476 Moss Rd.
...                            ...         ...                      ...
2728           Mini Creations Ltd.  5085559555        4575 Hillside Dr.
2731  Collectable Mini Designs Co.  7605558146         361 Furth Circle
2733             Land of Toys Inc.  2125557818  897 Long Airport Avenue
2741          Classic Legends Inc.  2125558493         5905 Pompton St.
2746             Gifts4AllAges.com  6175559555       8616 Spinnaker Dr.

             city postalcode country contactlastname contactfirstname  \
0             NYC      10022     USA              Yu             Kwai
3        Pasadena      90003     USA           Young            Julie
4      Burlingame      94217     USA          Hirano             Juri
9             NYC      10022     USA           Frick          Michael
10         Newark      94019     USA           Brown          William
...           ...        ...     ...             ...              ...
2728  New Bedford      50553     USA             Tam           Wing C
2731    San Diego      91217     USA        Thompson          Valarie
2733          NYC      10022     USA              Yu             Kwai
2741          NYC      10022     USA       Hernandez            Maria
2746       Boston      51003     USA         Yoshido             Juri

     dealsize orderdate_display
0       Small        24-02-2018
3      Medium        25-08-2018
4      Medium        28-10-2018
9       Small        05-04-2019
10     Medium        18-05-2019
...       ...               ...
2728    Small        14-11-2018
2731    Small        19-02-2019
2733    Small        07-05-2019
2741   Medium        21-11-2019
2746   Medium        06-05-2020

[928 rows x 21 columns]

In [65]:
data['orderdate'] = pd.to_datetime(data['orderdate'], errors='coerce')  # Converts to datetime
#data['orderdate'] = data['orderdate'].dt.strftime('%d-%m-%Y') #Format as dd-mm-yyyy {commenting out as it converting dtype=object}

In [67]:
print(data['orderdate'])

0      2018-02-24
1      2018-05-07
2      2018-07-01
3      2018-08-25
4      2018-10-28
          ...
2742   2019-12-02
2743   2020-01-31
2744   2020-03-01
2745   2020-03-28
2746   2020-05-06
Name: orderdate, Length: 2747, dtype: datetime64[ns]

In [77]:
data.to_csv("cleaned_data.csv", index=False)

In [79]:
print(data)

      ordernumber  quantityordered  priceeach  orderlinenumber    sales  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10168               36      96.66                1  3479.76
...           ...              ...        ...              ...      ...
2742        10350               20     112.22               15  2244.40
2743        10373               29     137.19                1  3978.51
2744        10386               43     125.99                4  5417.57
2745        10397               34      62.24                1  2116.16
2746        10414               47      65.52                9  3079.44

      orderdate  days_since_lastorder    status  productline  msrp  ...  \
0    2018-02-24                   828   Shipped  Motorcycles    95  ...
1    2018-05-07                   757   Shipped  Motorcycles    95  ...
2    2018-07-01                   703   Shipped  Motorcycles    95  ...
3    2018-08-25                   649   Shipped  Motorcycles    95  ...
4    2018-10-28                   586   Shipped  Motorcycles    95  ...
...         ...                   ...       ...          ...   ...  ...
2742 2019-12-02                  2924   Shipped        Ships    54  ...
2743 2020-01-31                  2865   Shipped        Ships    54  ...
2744 2020-03-01                  2836  Resolved        Ships    54  ...
2745 2020-03-28                  2810   Shipped        Ships    54  ...
2746 2020-05-06                  2772   On Hold        Ships    54  ...

                 customername       phone                   addressline1  \
0           Land of Toys Inc.  2125557818        897 Long Airport Avenue
1          Reims Collectables        <NA>             59 rue de l'Abbaye
2             Lyon Souveniers        <NA>  27 rue du Colonel Pierre Avia
3           Toys4GrownUps.com  6265557265             78934 Hillside Dr.
4        Technics Stores Inc.  6505556809              9408 Furth Circle
...                       ...         ...                            ...
2742    Euro Shopping Channel        <NA>             C/ Moralzarzal, 86
2743  Oulu Toy Supplies, Inc.        <NA>                    Torikatu 38
2744    Euro Shopping Channel        <NA>             C/ Moralzarzal, 86
2745             Alpha Cognac        <NA>          1 rue Alsace-Lorraine
2746        Gifts4AllAges.com  6175559555             8616 Spinnaker Dr.

            city postalcode  country contactlastname contactfirstname  \
0            NYC      10022      USA              Yu             Kwai
1          Reims      51100   France         Henriot             Paul
2          Paris      75508   France        Da Cunha           Daniel
3       Pasadena      90003      USA           Young            Julie
4     Burlingame      94217      USA          Hirano             Juri
...          ...        ...      ...             ...              ...
2742      Madrid      28034    Spain          Freyre            Diego
2743        Oulu      90110  Finland       Koskitalo           Pirkko
2744      Madrid      28034    Spain          Freyre            Diego
2745    Toulouse      31000   France          Roulet          Annette
2746      Boston      51003      USA         Yoshido             Juri

     dealsize orderdate_display
0       Small        24-02-2018
1       Small        07-05-2018
2      Medium        01-07-2018
3      Medium        25-08-2018
4      Medium        28-10-2018
...       ...               ...
2742    Small        02-12-2019
2743   Medium        31-01-2020
2744   Medium        01-03-2020
2745    Small        28-03-2020
2746   Medium        06-05-2020

[2747 rows x 21 columns]